div.dataTables_length,
div.dataTables_info {
    padding-left: 20px;
}

div.dataTables_paginate,
div.dataTables_filter {
    padding-right: 20px;
}

.icn-spinner {
    animation: spin-animation 0.5s infinite;
    display: inline-block;
}

@keyframes spin-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}
